*.aux
*.log
*.toc
*~
a.out
*.o
.DS_STORE
*tests/*.out
*.pyc
src/.idea/
tp3-mn/src/.idea/
tp3-mn/src/metodos
tp1-mn/src/.deps
tp3-mn/src/ilusion.txt
tp3-mn/src/ilusion_bayer.bmp
tp3-mn/src/ilusion_demosicing_spline.bmp
tp3-mn/src/ilusion_demosicing_vecino.bmp
tp3-mn/src/ilusion_out.txt
tp3-mn/src/img12.txt
tp3-mn/src/img12_bayer.bmp
tp3-mn/src/img12_demosicing_bilineal.bmp
tp3-mn/src/img12_demosicing_quality.bmp
tp3-mn/src/img12_demosicing_vecino.bmp
tp3-mn/src/img12_out.txt
tp3-mn/src/img1_bayer.bmp
tp3-mn/src/img1_demosicing_bilineal.bmp
tp3-mn/src/img1_demosicing_quality.bmp
tp3-mn/src/img1_demosicing_spline.bmp
tp3-mn/src/img1_demosicing_vecino.bmp
tp3-mn/src/img1_out.txt
tp3-mn/src/img2.txt
tp3-mn/src/img2_bayer.bmp
tp3-mn/src/img2_demosicing_bilineal.bmp
tp3-mn/src/img2_demosicing_quality.bmp
tp3-mn/src/img2_demosicing_spline.bmp
tp3-mn/src/img2_demosicing_vecino.bmp
tp3-mn/src/img2_out.txt
tp3-mn/src/img3.txt
tp3-mn/src/img3_bayer.bmp
tp3-mn/src/img3_demosicing_bilineal.bmp
tp3-mn/src/img3_demosicing_quality.bmp
tp3-mn/src/img3_demosicing_spline.bmp
tp3-mn/src/img3_demosicing_vecino.bmp
tp3-mn/src/img3_out.txt
tp3-mn/src/img4.txt
tp3-mn/src/img4_bayer.bmp
tp3-mn/src/img4_demosicing_bilineal.bmp
tp3-mn/src/img4_demosicing_quality.bmp
tp3-mn/src/img4_demosicing_spline.bmp
tp3-mn/src/img4_demosicing_vecino.bmp
tp3-mn/src/img4_out.txt
tp3-mn/src/img5.txt
tp3-mn/src/img5_out.txt
tp3-mn/src/img6.txt
tp3-mn/src/img6_out.txt
tp3-mn/src/img9.txt
tp3-mn/src/img9_bayer.bmp
tp3-mn/src/img9_demosicing_bilineal.bmp
tp3-mn/src/img9_demosicing_quality.bmp
tp3-mn/src/img9_demosicing_vecino.bmp
tp3-mn/src/img9_out.txt